/* Global section styles */

section.grey {
    background: #f4f4f4;
}

section{
  padding: 100px;
}

.navbar-brand img{
	height: 50px;
  /*width:60%;
  height: auto;"*/
}

.navbar-brand a{
	/*padding: 17px 15px 20.5px 0px;*/
	font-family: sans-serif;
	text-transform: none;
	font-weight: bold;
}

/*footer .footer-below {
    padding: 25px 0;
    background-color: black;
    color:white;
}

footer a{
  color: white;
}*/
